.Filters {
  width: 100%;

  .types-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;

    .filters-name {
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        font-weight: 400;
        font-size: 2rem;
        color: #212121;
        text-transform: uppercase;
      }

      .button-types-refresh {
        position: relative;
        top: 1px;
        border: none;
        background: none;
        cursor: pointer;
        margin-left: 20px;

        &:focus {
          outline: none;
        }

        svg {
          width: 36px;
          height: 36px;
          fill: #a9a9a9;

          &:hover {
            fill: #e24b4b;
            animation: refresh 0.3s ease-in-out;
          }
        }
      }
    }

    .filters-types {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      padding: 10px;

      li {
        list-style-type: none;
        margin: 10px;

        .button-types {
          width: 120px;
          height: 30px;
          font-weight: 600;
          font-size: 0.9rem;
          border: none;
          border-radius: 3px;
          cursor: pointer;

          &:hover {
            transform: translate(1px, 1px);
          }
        }
      }
    }
  }
}

@keyframes refresh {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
