.Header {
  height: 90px;
  width: auto;
  background-color: #e24b4b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  img {
    width: 130px;
    margin: 10px;
  }
  input {
    width: 300px;
  }
  .divEmpty {
    width: 130px;
    margin: 10px;
  }
}
#searchBar {
  height: 35px;
  width: 30vw;
}
