.Header {
  height: 70px;
  width: 100vw;
  background-color: #ad2037;
  border-bottom: 5px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  a {
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    img {
      width: 40px;
      margin: 10px;
      border: white solid 3px;
      border-radius: 15px;
      filter: grayscale(1);
    }
  }
}

@media screen and (max-width: 600px) {
  p {
    font-size: 20px;
  }
}
