// .list-loading {
//   width: 100%;
//   height: calc(100vh - 90px);
// }

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

input {
  width: 400px;
  height: 40px;
  border-radius: 15px;
  border: 5px solid #000;
  position: fixed;
  top: 47px;
  left: 50%;
  transform: translatex(-50%);
  padding-left: 1rem;
  z-index: 1;

  &::placeholder {
    color: #696969;
  }

  &:focus {
    outline: none;
  }
}

#list-choice {
  width: 100px;
  height: 30px;
  text-align: center;
  text-align-last: center;
  background-color: #343d4e;
  color: #a3adc2;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 600;
  font-size: 1rem;
  padding-left: 10px;
  margin: 5rem 0 0 2rem;
  cursor: pointer;

  &:hover {
    background-color: #3f4a5d;
  }

  &:focus {
    outline: none;
  }
}
