.pokemon-list {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, 230px);
  justify-content: center;
  margin-top: 3rem;
}

input {
  width: 20vw;
  height: 30px;
  border-radius: 5px;
  border-color: transparent;
  position: fixed;
  top: 5vh;
  left: 40vw;
  z-index: 1;

  &::placeholder {
    color: grey;
  }
}

#list-choice {
  width: 100px;
  height: 30px;
  text-align: center;
  text-align-last: center;
  background-color: #efefef;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  padding-left: 10px;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
