.pokemonPage {
  margin-left: 10vw;
  width: 80vw;
  min-width: 700px;
  border: solid black 2px;

  .pokedex {
    display: flex;
    justify-content: space-between;
    border: solid red 2px;

    .pokeWeak {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: solid blue 2px;

      .basicsInfos {
        margin: 5px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: solid yellowgreen 2px;
        img {
          width: 350px;
          box-sizing: border-box;
        }
        .nameNumber {
          font-size: 2em;
          border: grey solid 2px;
          h1 {
            color: grey;
          }
        }
      }
    }

    .pokeStats {
      padding: 10px;
      border: solid blue 2px;
      ul {
        font-size: 1.2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding: 20px 10px;
        background-color: #ededed;
        li {
          margin: 10px 0px;
          list-style-type: none;
        }
      }
    }
  }

  .weaknesses {
    text-align: center;
    font-size: 200%;
    margin: 5px;
    height: 30%;
    border: solid yellowgreen 2px;
  }

  .evol {
    border: solid green 2px;
    p {
      text-align: center;
      width: 100%;
    }
  }
}
