.weaknesses-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;

  .weakness {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    font-weight: 600;
    font-size: 0.9rem;
    border: none;
    border-radius: 3px;
    margin: 5px;
  }
}
